.home{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--gray_2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    position: absolute;
    left: 0;
    top: 0;
}   

#exit{
    color: var(--white_1);
    font-size: 2rem;
}