@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --gray_1: rgb(26, 25, 25);
    --gray_2: rgb(49, 49, 49);
    --white_1: rgb(241, 241, 241);
}

